*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#card{
    width: 220px;
    height: 300px;
    background-color: wheat;
    padding: 10px;
}

#poster{
    width: 200px;
    height: 150px;
    background-color: thistle;
}

span{
    display: inline-block;
    width: 45px;
    height: 30px;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
}

.teal{
    background-color: teal;
}

.tomato{
    background-color: tomato;
    color: aliceblue;
}