*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 1100px;
}

.box{
    border: 1px solid #222;
    width: 300px;
    height: 300px;
    float: left;
    margin: 20px;
    background-image: url('./img/bg4.jpg');
    background-repeat: no-repeat;
}

#bg1{background-size: auto;}/*원래 배경 이미지 크기*/

#bg2{background-size: 200px;} /*너비는 200px 높이는 자동계산*/

#bg3{background-size: 50%;} /*배경 이미지 너비는 요소 너비의 50% 높이는 자동계산*/

#bg4{background-size: 100% 100%;} /*배경 이미지 너비와 높이는 요소 너비의 100% 요소 높이의 100%*/

#bg5{background-size: contain;} /*요소 아넹 배경 이미지가 다 보이도록 표시*/

#bg6{background-size: cover;} /*요소를 완전히 덮도록 배경 이미지 표시*/