*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desc{
    border: 5px dotted #222;
    width: 350px;
    height: 200px;
    float: left;
    margin-right: 20px;
    padding: 20px;
    background-color: #ffd9a0;
}

#clip-border{
    background-clip: border-box;
}

#clip-padding{
    background-clip: padding-box;
}

#clip-margin{
    background-clip: content-box;
}

